<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
    <a class="navbar-brand" href="#">
        <img src="https://upload.wikimedia.org/wikipedia/en/thumb/a/a6/Major_League_Baseball_logo.svg/1200px-Major_League_Baseball_logo.svg.png"
            alt="cnn logo" width="90px">
    </a>
    </a>
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/savedarticles">Saved Articles</a>
        </li>
       
        <li>
            <button type="button" id="clear-all" class="btn btn-dark">Clear Articles</button>

        </li>
    </ul>
</nav>
<div class="jumbotron">
    
</div>
<div id="main-header">
<h1 class="display-4">Saved Articles</h1>
    <p class="lead"> Your Saved Articles</p>
</div>
<div class="card">
  <div class="card-header">
    
  </div>
  <div class="card-body">
    <h5 class="card-title"></h5>
    <p class="card-text"></p>
    
  </div>
</div>


