.jumbotron{
    position: relative;
    height: 717px;
    text-align: center;
    opacity: 0.6;
    box-shadow: 10px 10px 5px grey;;
    background-image: url("/images/mlb-opening-day-800.jpg");
    background-size: cover;
}
#main-header{
    position: relative;
    text-align: center;
    margin-top: -474px;
    font-family: 'Playfair Display', serif;
    text-shadow: 2px 2px 4px white;

}
h1.display-4{
font-size: 70px;
}
p.lead{
    font-size: 30px;
}
.bg-dark{
    background-color: red!important;
}
.btn-dark{
    background:transparent;
    border-style: none;
}
.navbar-dark .navbar-nav .nav-link {
    color: black;
}
body{
    background-image: url("https://img.freepik.com/free-photo/white-concrete-wall-for-background_1249-263.jpg?size=338&ext=jpg");
}
.card{
    margin-top: 346px;
}
.btn-primary{
    width: 112px;
    margin-left: 19px;
}